{% extends "base.html" %}

{% block style %}
<link href="static/css/style_all_pos.css" rel="stylesheet">
{% endblock %}
{% block body %}
{% if current_user.is_authenticated %}
    <div align="right"><a class="btn btn-success" href="/logout">Выйти</a></div>
<div align="right"><a class="btn btn-secondary" href="/personal_area">Личный кабинет</a></div>
{% else %}
    <p>
        <div align="right"><a class="btn btn-primary" href="/register">Зарегистрироваться</a>
    <a class="btn btn-success" href="/login">Войти</a></div>
    </p>
{% endif %}
<center><h1 style="color: #ffffff">Четвертая позиция - четверка</h1></center>
<br>
<br>
<div class="text-block_text" style="color: #ffffff"><h5>Четвертая позиция, можно сказать смело, является самой универсальной позицией в игре. Задач у этой позиций больше всего.
Они не являются важными по отдельности, но в совокупности дают большой прирост к доминированию команды. Одной из основных задач является помощь
третьей позиции на линии. Эта помощь должна включать в себя блок маленького спота, отводы пачек крипов на большой спот, покупку расходников и использование
скиллов для напряга легкой линии противника. Благодаря четвертой позиции хардлайнеру легче стоять, и как следствие, удается раньше вынести необходимые предметы
 для ранних тимфайтов.</h5></div>
<br>
<div class="text-block_text" style="color: #ffffff"><h5>В большинстве случаев после 5-7 минут на линии, у четверки становятся развязаны руки. Это позволяет выбрать дальнейшие действия
по карте. Можно так же помогать третьей позиции, чтобы быстрее снести т1, а можно пойти на другии линии. Купив смок, можно попробовать убить вражеского мидера, что даст
достаточно большой буст вашему. Если у вас нет килл-потенциала, лучше попробовать помочь в легкой линии. После завершения стадии лайнинга
стоит уделять больше внимания к игре с командой, но помимо этого вы можете блочить вражеские лесные лагеря, что поднимет экономику команды, или отпушивать линии.</h5></div>
<br>
<div class="text-block_text" style="color: #ffffff"><h5>В команде четвертая позиция является соединяющим звеном, помогающим везде и каждому, когда в случае с другими ролями, их задачи сосредоточены на одной, редко двух целях.
    Героев на эту позицию больше, чем на любую другую, но эффективность некоторых очевидно меньше, чем других. Стоит отметить, что самые популярные героев на эту позицию являются сложными в своем освоении,
    особенно для новичка. Чаще всего у них сложная комбинация или механика скиллов. Именно поэтому в некоторы играх четвертая позиция становится ключевой. Той, которая привела команду к победе. Лучшими
    героями для этой позиции будут являться dark willow, hoodwink, tusk.
</h5></div>
<br>
<p class="thumb text-block_src">
   <img src="static/img/dark_willow.png" alt="Фея" width="360" height="340">
   <img src="static/img/hoodwink.jpeg" alt="Худвинк" width="360" height="340">
   <img src="static/img/tusk.jpg" alt="Таск" width="360" height="340">
  </p>
{% endblock %}