{% extends "base.html" %}

{% block style %}
<link href="static/css/style_main.css" rel="stylesheet">
{% endblock %}
{% block body %}
{% if current_user.is_authenticated %}
    <div align="right"><a class="btn btn-success" href="/logout">Выйти</a></div>
<div align="right"><a class="btn btn-secondary" href="/personal_area">Личный кабинет</a></div>
{% else %}
    <p>
        <div align="right"><a class="btn btn-primary" href="/register">Зарегистрироваться</a>
    <a class="btn btn-success" href="/login">Войти</a></div>
    </p>
{% endif %}
<br>
<h1 align="center" style="color: #ffffff">Все о игре в Dota 2</h1>
<br>
<br>
<div class="alert alert-danger text-block_1" role="alert" style="color: #ffffff">
    <h4 class="alert alert-danger">Данный теоретический материал предусмотрен для людей,
    у которых есть опыт игры в MOBA игры. Если вы не являетесь таковым,
    настоятельно рекомендуем перед прочтением статьи ознакомиться с этим жанром и
        понять его игровые особенности.</h4>
</div>
<br>
<br>
<div class="text-block_ss text-block_backg"><h2 style="color: #000000">Роли:</h2>
<a href="/first_pos"><h3>Керри</h3></a><br>
<a href="/second_pos"><h3>Мидер</h3></a><br>
<a href="/third_pos"><h3>Хардлайнер</h3></a><br>
<a href="/fourth_pos"><h3>Четверка</h3></a><br>
<a href="/fifth_pos"><h3>Пятерка</h3></a>
</div>
<div class="text-block" style="color: #ffffff"><h5>В большинстве MOBA игр для того, чтобы у каждого игрока была своя задача, существуют роли.
    В первую очередь роли нужны для наиболее эффективного распределения игровых ресурсов в том
    или ином виде, будь то мана, здоровье, способности и даже время. Без ролей процесс игры был
    бы однообразнее, а достижение цели становилось тяжелее. Dota 2 не является исключением.
    Ролей, или позиций, как часто говорят в самой игре, существует всего 5. Все они в
    какой-то степени схожи на роли из других игр, но каждая из них имеет свои особенности.
    В связи с этим если вы играли ранее в другие MOBA игры, и у вас хорошо получалось,
    то это не дает гарантии на то, что все будет также неплохо. Перед ознакомлением с функциями,
    задачами и особенностями каждой роли стоит попробовать в свободной форме поиграть пару игр
    на несложных героях и изучить самые основные механики и моменты игры (их не так много), часть из которых указана ниже.</h5></div>
<br>
<div class="text-block" style="color: #ffffff"><h5>Теперь следует прочитать пару советов по самой игре, ведь если вы новичок,
    малознакомый с таким жанром игр, порог вхождения для вас будет достаточно высоким.
    В большинстве случаев из-за вашего слабого понимания игры к вам будут
    относиться без уважения, иногда даже препятствовать игровому процессу.
    Чтобы самолично изучить игровые особенности на практике и не играть против
    сильных игроков, в игре с которыми чаще всего вы не успеете ничего понять,
    стоит начать с игры с ботами. Перейдем к советам.</h5></div>
<br>
<br>
<div class="alert alert-dark text-block" role="alert" style="color: #ffffff">
    <h3 style="color: #808080">Совет #1 - карта и все то, что на ней находится</h3>
</div>
<br>
<div class="text-block" style="color: #ffffff"><h5>В первую очередь следует ознакомиться со структурой игры и внутриигровой картой.
    Cамая важная задача игры состоит в уничтожении главного вражеского строения – трона.
    Помимо трона в игре находится другие строения, которые нужно сломать
    для подхода к трону, и 3 «дорожки», по которым каждые 30 секунд бегут
    крипы. Их убийство дает золото и опыт, что облегчит ломание (пуш) строений
    и убийство других героев, что также составляет важную составляющую достижения главной цели. Именно поэтому
    уже с самых первых игр нужно пробовать давать последний удар для убийства крипа (ластхит). Научившись
    добивать крипов вы получите преимущество над противников на линии и как следствие будете иметь
    больше шансов на его убийство. Не стоит жалеть ману на добивание крипов, особенно на крипов дальнего
    боя.</h5></div>
<br>
<div class="text-block" style="color: #ffffff"><h5>В добавок на карте находится единственный «босс» - Рошан, убийство
    которого способно переломить исход игры или дать еще больше преимущества. При его убийстве
    падают  такие предметы, как: aegis of the Immortal(аегис), cheese(сыр), aghanims shard(шард),
    refresher shard и aghanim scepter, который нужно съесть одному из героев. При первом убийстве
    первого рошана падает только аегис. Герой, который подобрал его,  в течение 5 минут после смерти
    не умрет, а появится на месте смерти с полной маной и здоровьем.  После 2 смерти с рошана падает
    сыр, который можно продать за 500 золота или съесть, что даст 2500 здоровья и 1500 маны. Также
    с ним падает aghanims shard, который улучшает способности (способности) тому, кто его использовал.
    Уже после 3 убийства помимо этого можно получить aghanim scepter или refresher shard.</h5></div>
<br>
<div class="text-block" style="color: #ffffff"><h5>Между линиями с двух сторон находится лес, в котором встречаются еще одни игровые сущности - нейтралы.
    Их убийство так же как и убийство обычных крипов дает золото и опыт. Нейтралы делятся на лагеря. В игре существуют малые, средние
    и крупные лагеря. Чем больше лагерь, тем больше здоровья и урона у их обитателей, а так же золота и опыта за их убийство. С обновлением 7.31 были введены новые и сильные
    способности у нейтралов, поэтому стоит быть внимательным, чтобы не умереть от них в лесу. Помимо малых, средних и крупных лагерей существуют
    лагеря древних. Древние крипы, обитающие там, являются очень мощными нейтральными крипами. С ними почти невозможно сражаться на ранней стадии игры,
    и для некоторых героев даже в поздней игре. Они имеют очень много здоровья, наносят много урона и владеют сильными аурами.
    </h5></div>
<br>
<div class="text-block" style="color: #ffffff"><h5>Они также обладают небольшим сопротивлением к магии, что затрудняет их уничтожение с помощью заклинаний наносящих магический урон. Но за убийство древних крипов
    дают больше золота и опыта, чем за убийство каких-либо других крипов (кроме рошана). Если к концу минуты лагерь крипов будет свободным, там появятся новые, и для этого не обязательно убивать старых.
    При нажатии alt можно увидеть границу лагеря нейтралов, и для того, чтобы в нем никого не было, будет достаточно за 5-6 секунд до конца минуты ударить крипов и отбежать от границы их лагеря. Нейтралы
    побегут за вами, и их место обитания будет заполнено новыми крипами, к которыми присоединятся те, которых вы отвели. Таким образом можно зафармить сразу несколько
    стаков за один раз и не ждать появления следующих.</h5></div>
<br>
<br>
<div class="text-block"><center>
    <img src="static/img/dota_map.jpg" align="top"> </center></div>
<div class="text-block"><center>
    <h5 style="color: #808080">Внутриигровая карта</h5></center></div>
<br>
<br>
<div class="alert alert-dark text-block" role="alert">
    <h3 style="color: #808080">Совет #2 - как играть лучше и не терять удовольствие от игры</h3>
</div>
<br>
<div class="text-block" style="color: #ffffff"><h5>После пару сотен и больше игр, проведенных в одном или нескольких игровых режимов, вам, скорее всего, захочется научиться чему-то большему, стать сильнее. Сделать это
    можно несколькими способами, о которых далее и пойдет речь. В первую очередь следует обратить внимание на то, в чем у вас явные проблемы. Например, вы плохо добиваете крипов, часто недооцениваете
    противника, не используете внутриигровые предметы в полную силу , не ознакомились со всеми настройками и не делаете другие базовые вещи. Эти проблемы можно разделить на 2 группы - те,
    которые можно решить за короткое время (например, ознакомиться с внутриигровыми настройками и забиндить необходимые себе больше всего) и на те, решение которых
    требует наращивания внутриигрового опыта - добивание крипов, нажатие скиллов, способностей и другие.</h5></div>
<br>
<div class="text-block" style="color: #ffffff"><h5>Если вы хотите научиться играть лучше, в первую очередь следует обратить внимание на 1 группу,
    ведь чем быстрее вы облегчите себе восхождение к улучшению собственной игры, тем больше времени у вас будет на решение проблем из 2 группы, решение которых, в свою очередь, можно еще больше ускорить, если смотреть
    повторы своих матчей и следить за другими, сильными игроками, которые играют с вами. Сравнивая их игру со своей, вы сможете легко обнаружить, что именно вы делаете не так.</h5></div>
<br>
<div class="text-block" style="color: #ffffff"><h5>Теперь, после того, как вы решили большинство базовых проблем, вы, вероятнее всего, находитесь или близки к уровню средней игры. Если вы чувствуете, что все равно играете слабо,
    или думаете, что имеете мало внутриигрового рейтинга, стоит обратить внимание на второй способ улучшения своей игры - знакомство с игрой по настоящему сильных игроков. Именно на примере их игр вы
    сможете обнаружить новые, неочевидные фишки и тонкости игры. Когда, уже казалось, что вы знаете все о своем любимом герое, вы сможете открыть что-то новое: новые предметы, особенности выбора талантов
    и многое другое. Лучшим способом знакомства с игрой сильного игрока будет, конечно же, нанятие тренера.</h5></div>
<br>
<div class="text-block" style="color: #ffffff"><h5>Он сможет объяснить вам все, что может быть непонятно на простом повторе матча, расскажет, почему
    был выбран именно тот талант и куплен именно этот предмет. Минусом будет то, что чаще всего это будет очень дорого. Простым и бесплатным вариантом ознакомления с играми на большом рейтинге будет просмотр
    стримеров, которые там играют. Их достаточно много, большинство из них стримят часто и чаще всего они комментируют почти все свои действия по игре. Поэтому вы сможете также научиться чему-то новому.
    На сайте dota2protracker.com можно найти профессиональные игры именно на том герое, который нужен вам.</h5></div>
<br>
<div class="text-block" style="color: #ffffff"><h5>Наконец, следует поговорить о том, как же играть, чтобы не потерять удовольствие от игры и не получить дизмораль даже после самого плохого матча.
    Чаще всего в каждой игре возникает один или, как это бывает в большинстве случаев, несколько конфликтов. Некоторые из них будут напрямую связаны с вами. Например, вам не понравилось то, что
    сделал ваш союзник, или наоборот. Лучший вариант в таком случае - не продолжать конфликт. Как бы вы не старались, вам не удасться убедить тиммейта в вашей точки зрения, и так же в обратную сторону.
    Каждая сторона будет уверена в своей правоте.
    Именно поэтому если продолжить его, ситуация станет только хуже. Если ваш союзник продолжил дизморалить вас, стоит его просто замутить и не пытаться доказать его неправоту.
    </h5></div>
<br>
<div class="text-block" style="color: #ffffff"><h5>Это стоит делать и в случае, если ваш тиммейт слишком часто выражает недовольство, даже если это недовольство никак не связано с вашими действиями.
    Часто в играх будет так, что вы проигрываете игру, в которой старались,
    просто из-за плохой игры одного из союзников. Из-за этого начинается дизмораль, но стоит понимать, что это происходит с такой же частотой и во вражеской команде, просто вы этого не замечаете.
    Поэтому никогда не нужно переживать из-за одной игры, ведь даже после 10 поражений последует легкие 10 побед, главное - не зацикливаться на поражениях.</h5></div>
<br>
<br>
<div class="alert alert-dark text-block" role="alert" style="color: #ffffff">
    <h3 style="color: #808080">Совет #3 - тактические решения, способные привести к победе</h3>
</div>
<br>
<div class="text-block" style="color: #ffffff"><h5>Стратегия перемещений и наличие плана о своих и командных дальнейших действий играет большую часть в достижении победы. Если
знать основы тактических решений, можно предсказать ход противника и переломить, казалось, безвыходную ситуацию. При наличии понимания когда, куда и зачем перемещаться
можно прийти к улучшению собственной игры и переигровке противника. На основе этого можно сделать вывод, что команда, которая играет без стратегии, зачастую находится в невыгодном положении.
Теперь следует перейти к основным принципам стратегического правильного хода. Начать стоит с самого начала матча. Если в вашей команде достаточно замедления или контроля, то следует попросить
команду использовать смок и выйти на вражескую руну богатства. Большинство противников не будут ожидать этого, и, вероятнее всего, вам удасться заполучить первую кровь.</h5></div>
<br>
<div class="text-block" style="color: #ffffff"><h5>После начала игры следует определиться с планом на игру, который в корни зависит от позиции, на которой вы играете. Определенное событие, будь то покупка предмета,
 наращивание критической массы, убийство вражеского героя в большинстве случаев должно сопроваждаться последующим действием, ведь в этот момент вы становитесь сильнее, имеете больше шансов на успех,
 чем команда или герой противника. Обязательным пунктом для хорошей игры является в том числе и просмотр карты. Вы всегда должны предполагать, где находится противник, что ему выгодно делать
 в этом время. Можно представить, что вы оказались на месте противника, и на основе своего плана предугадать дальнейшие действия соперника.</h5></div>
<br>
<div class="text-block" style="color: #ffffff"><h5>Если противников долгое время нет на карте, или они убили
одного из ваших основных героев, вероятнее всего, они убивают Рошана. То же самое думает и противник, поэтому вылазки на вражескую территорию чаще всего следует делать только с наличием определенного плана
и информации по поводу местоположения противника. Для оптимального распределения ресурсов среди команды следует всегда следить и за нахождением своих союзников - куда они идут, что будут делать.
Это поможет не тратить время на лишнее перемещение по карте и получить больше золота и опыта.</h5></div>
<br>
<div class="text-block" style="color: #ffffff"><h5>В завершение хочется упоминуть и то, что присутствует в каждой игре - драки 5 на 5. Стоит сразу понять, что каждый союзник важен в нем, но все они отличаются по
тому, как много импакта вносят в файт. Условно, если в начале драки первым из 10 героев убили одну из керри-позиций, в большинстве случаев следует постараться избежать дальнейшего боя. Если же файт
начинаете вы, стоит обратить внимание на саппортов и убить их при возможности. Без них керри противника будет тяжело вступить в драку и при этом не умереть.</h5></div>
<br>
<div class="text-block" style="color: #ffffff"><h5>В том случае, когда у вас достаточно
урона и контроля для убийства сильнейшего героя соперника, нужно начинать с его устранения, а уже затем переходить на других героев. В предметах команды должен соблюдаться баланс по
количество сейв артефактов и артефактов, помогающих наносить урон. Представим, что вы имеете много урона, но у вас нет возможности его наносить из-за контроля противника. Тогда вам нужно купить
предмет, дающий невосприймчивость к магии, либо предмет, который поможет ощущать кайт противника в меньшей степени.</h5></div>
<br>
<div class="alert alert-success text-block" role="alert" style="color: #808080">
    <h4>Поздравляю, после прочтения данного руководства у вас не должно возникнуть проблем с тем, чтобы научиться хорошо играть в одну из самых популярных МОВА игр - Dota 2!
    Вы изучили все то, что находится на карте, как получать удовольствие от игры, становиться сильнее и обыгрывать противника. С каждой игрой вы будете становиться только сильнее, изучать новое, поэтому - вперед
    к победам!</h4>
</div>
{% endblock %}
