{% extends "base.html" %}

{% block style %}
<link href="static/css/style_all_pos.css" rel="stylesheet">
{% endblock %}
{% block body %}
{% if current_user.is_authenticated %}
    <div align="right"><a class="btn btn-success" href="/logout">Выйти</a></div>
<div align="right"><a class="btn btn-secondary" href="/personal_area">Личный кабинет</a></div>
{% else %}
    <p>
        <div align="right"><a class="btn btn-primary" href="/register">Зарегистрироваться</a>
    <a class="btn btn-success" href="/login">Войти</a></div>
    </p>
{% endif %}
<center><h1 style="color: #ffffff">Вторая позиция - мидер</h1></center>
<br>
<br>
<div class="text-block_text" style="color: #ffffff"><h5>Роль, по моему мнению, являющаяся самой сложной и самой интересной - роль мидера. Игрок
этой позиции стоит в центральном коридоре(миде), в большинстве случаев один на один с противником той же позиции.
Герой этой позиции так же нуждаются в золоте и опыте, но в отличии от первой позиции, вторая принимает участие почти во
всех ранних драках и чаще всего должна находиться с командой уже после стадии лайнинга. Ваш импакт в ранних драках
будет ключевым и будет зависеть от того, как вы провели лайнинг стадию.</h5></div>
<br>
<div class="text-block_text" style="color: #ffffff"><h5>Герой мида можно поделить на 2 вида - фармящих и агрессивных. Фармящие герои
нацелены на то, чтобы добить больше крипов на линии и в соседних нейтрал-спотах и отличаются от агрессивных тем, что
    им нужно больше фарма для того, чтобы внести импакт в файты. В отличии от фармящих, агрессивные герои уже с приобретением 6 уровня могут начать
перемещаться по карте. На линии они способны оказывать давление на фармящих героев и в некоторых случаев даже убивать</h5></div>
<br>
<div class="text-block_text" style="color: #ffffff"><h5>Все тонкости игры на этой позиции невозможно рассказать, поэтому следует просто набираться опыта.
Чем сильнее противником вы стоите на одной линии, тем быстрее вы сами импруваетесь в скилле. Тут как никогда поможет просмотр
реплеев хай-ммр игроков. С помощью него можно узнать, что покупать, какие скиллы качать и как переиграть оппонента. По личному опыту
могу добавить, что чем сложнее игра, тем больше игрового опыта вы получите. Иногда его стоит поставить выше, чем 30 птс, и попробовать
пикать героя в плохой для него пик. Универсальные мидеры, на которых вам следует научиться играть, не смотря на их сложность - invoker, templar assasin, void spirit.</h5></div>
<br>
<p class="thumb text-block_src">
   <img src="static/img/invoker.jpg" alt="Инвокер" width="360" height="340">
   <img src="static/img/templar_assasin.jpg" alt="Темпларка" width="360" height="340">
   <img src="static/img/void_spirit.jpg" alt="Воид спирит" width="360" height="340">
  </p>
{% endblock %}
