{% extends "base.html" %}

{% block style %}
<link href="static/css/style_all_pos.css" rel="stylesheet">
{% endblock %}
{% block body %}
{% if current_user.is_authenticated %}
    <div align="right"><a class="btn btn-success" href="/logout">Выйти</a></div>
<div align="right"><a class="btn btn-secondary" href="/personal_area">Личный кабинет</a></div>
{% else %}
    <p>
        <div align="right"><a class="btn btn-primary" href="/register">Зарегистрироваться</a>
    <a class="btn btn-success" href="/login">Войти</a></div>
    </p>
{% endif %}
<center><h1 style="color: #ffffff">Третья позиция - хардлайнер</h1></center>
<br>
<br>
<div class="text-block_text" style="color: #ffffff"><h5>Третья после керри и мидера в Доте — это оффлейн, или же «харда».
    Чаще всего главной задачей оффлейнера является создание пространства для фарма кор-героев и впитывание урона
    благодаря аурам и собственным способностям. Чаще всего это именна тот герой, кто должен сопровождать все передвижения
по карте и первый, кто должен будет начать напрягать вражеских героев. Не смотря на то, что героев этой позици тяжело убить, себя
не стоит переоценивать. Если вы будете умирать на линии, можете считать, что всю остальную игру в большинстве случаев вы будете бесполезным.</h5></div>
<br>
<div class="text-block_text" style="color: #ffffff"><h5>Именно сложная линия начинает действия по игре, поэтому при ее проигрыше у команды начинаются серьезные проблемы, ведь
вражеский керри герой получает полное свободное пространство для фарма, в то время как ваш керри проигрывает или стоит наравне с вражеской тройкой, что
 не позволяет ему свободно качаться на карте. По этой причине на оффлейнера стоит брать сильного героя, который сможет напрячь легкую линию противника, хорошо
дополнить пик и будет иметь возможность к фарму в случае наличия контр-пика во вражеской команде или хорошего килл-потенциала.</h5></div>
<br>
<div class="text-block_text" style="color: #ffffff"><h5>В большей части игр именно тройка является инициатором, поэтому если в вашей некому начать драку, на тройку нельзя пикать героя без контроля.
Главной задачей третьей позиции в течение первых 10-15 минут будет являться снос т1 вышке. Благодаря этому вы сильно облегчите фарм своему керри, который сможет спокойно
передвигаться в той части карты. После этого стоит в четвером при возможности постараться сломать так же т1 вышку в миду, чтобы открыть еще часть карты. Дальше уже по ситуации, либо уделить
    внимание убийству вражеских героев, или попробовать забрать рошана и давить на вышки, игнорируя вражеские передвижения по карте. Одними из лучших героев на эту позицию будут Mars, Axe, Sand King</h5></div>
<br>
<p class="thumb text-block_src">
   <img src="static/img/Mars.jpeg" alt="Марс" width="360" height="340">
   <img src="static/img/axe.jpg" alt="Акс" width="360" height="340">
   <img src="static/img/sand_king.jpg" alt="СК" width="360" height="340">
  </p>
{% endblock %}